span {
    width: 400px;
    height: 300px;
    padding: 30px;
    margin: 10px auto;
    border-radius: 7px;
    background-color: #5adf55; 
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  } 

  .displaybox {
    padding: 35px;
  }