.Header {
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  background-color: #0688fa;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0688fa;
  display: inline-flex;
  flex-wrap: flex;
  justify-content: flex-start;
}
li a {
  display: inline-flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  letter-spacing: 2px;
}
li a:hover {
  background-color: #8ecaff;
  color: white;
  letter-spacing: 3px;
}
.linkbox {
  letter-spacing: 2px;
  display: -ms-inline-flexbox;
}