span {
  width: 50vw;
  height: 50vh;
  padding: 15px;
  margin: 10px auto;
  border-radius: 7px;
  background-color: #5adf55;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

body {
  background-color: rgb(180, 253, 180);
}

button {
  width: 15%;
  background-color: #38d32a;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* .Box {
  width: 300px;
  height: 300px;
  padding: 15px;
  margin: 10px auto;
  border-radius: 7px;
  background-color: #5adf55; 
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
} */