.search {
    margin-top: 20px;
    padding: 60px;

}

@media (min-width: 500px) {
    .App {
      padding: 120px 0 25px;
    }
  }
  
  @media (min-width: 830px) {
    .App {
      padding: 150px 0 6vh;
    }
  }