h3 {
  color: #0688fa;
}

.myButton {
  -moz-box-shadow: inset 0px -3px 7px 0px #29bbff;
  -webkit-box-shadow: inset 0px -3px 7px 0px #29bbff;
  box-shadow: inset 0px -3px 7px 0px #29bbff;
  background: #0688fa;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
  margin-top: 20px;
}
.myButton:hover {
  letter-spacing: 2px;
  background: #0688fa;
}
.myButton:active {
  position: relative;
  top: 1px;
}

input {
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input:focus {
  width: 30%;
}
.logo {
  font-family: "Helvetica", "sans serif";
  letter-spacing: 8px;
  color: white;
  margin-top: -25px;
  padding: 20px;
  height: 80px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 60px;
  font-weight: bold;
  color: #0688fa;
  width: 300px;
  margin: 5px auto;

  -webkit-animation: appear 25s ease 0s infinite normal;
  animation: appear 25s ease 0s infinite normal;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.loginbox {
  color: whitesmoke;
  background-color: #0688fa;
  width: 100%;
  height: 30px;
  font-family: "Helvetica", "sans serif";
  font-weight: bold;
  font-size: 22px;
  padding: 10px;
  justify-content: left;
  align-items: center;
  align-content: center;
}

.partstop {
  padding: 50px;
}

.parts_container {
 display: inline-flex;
 flex-wrap: wrap;
}

span {
    width: 10vw;
    height: 25vh;
    padding: 80px;
    margin: 10px auto;
    display: block;
  } 